<%= simple_form_for [@championship, @team], :html => { :class => 'form-horizontal' } do |f| %>
	  <%= f.input :name %>
	  <%= f.input :logo, collection: @logos, prompt: "Select your logo" %>
	  <%= f.input :abbreviation %>
	  <div class="form-actions">
	    <%= link_to t('.back', :default => t("helpers.links.back")),
	                championship_teams_path(@championship), :class => 'btn' %>
	    <%= f.button :submit, :class => 'btn-primary' %>
	  </div> 
<% end %>
