<%- model_class = Championship -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:rule_id) %></th>
      <th><%= model_class.human_attribute_name(:date_start) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @championships.each do |championship| %>
      <tr>
        <td><%= championship.name %></td>
        <td><%= championship.rule.name unless championship.rule.nil? %></td>
        <td><%= championship.date_start.strftime("%d/%m/%Y") unless championship.date_start.nil? %></td>
        <td>
          <%= link_to glyph(:list), championship_dashboard_path(championship), :class => 'btn', :title => 'Dashboard' %>
          <%= link_to glyph(:home), championship_path(championship), :class => 'btn', :title => 'Mostrar' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @games %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_championship_path,
            :class => 'btn btn-primary' %>
