<%- model_class = Championship -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:id) %>:</strong></dt>
  <dd><%= @championship.id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @championship.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rule_id) %>:</strong></dt>
  <dd><%= @championship.rule.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:date_start) %>:</strong></dt>
  <dd><%= @championship.date_start %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              championships_path, :class => 'btn'  %>
  <%= link_to t('.teams', :default => t("helpers.links.teams")),
              championship_teams_path(@championship), :class => 'btn btn-success' %>
  <%= link_to t('.games', :default => t("helpers.links.games")),
              championship_games_path(@championship), :class => 'btn btn-success' %>
</div>
