<%= simple_form_for @game, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :championship_id, collection: Championship.all, prompt: "Select your championship" %>
  <%= f.input :team1_id, collection: Team.all, prompt: "Select your team 1" %>
  <%= f.input :team2_id, collection: Team.all, prompt: "Select your team 2" %>
  <%= f.input :phase_id, collection: Phase.all, prompt: "Select your phase" %>
  <%= f.input :stage %>
  <%= f.input :groups %>
  <%= f.input :duel1 %>
  <%= f.input :duel2 %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                games_path, :class => 'btn' %>
  </div>
<% end %>
